{% extends "base.html" %}
{% load i18n %}
{% load socialaccount %}

{% block content %}
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">   
            <h1>{% trans "Sign In Via Google" %}</h1>
            <p>{% trans "You are about to sign in using a third-party account from Google." %}</p>

            <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-user btn-block mb-3">
                <i class="fab fa-google"></i> {% trans "Continue" %}
            </a>
        </div>
      </div>      
    </div>
  </div>
</section>    
{% endblock %}
