[Unit]
Description=Django Web Application
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/karen
Environment="ALLOWED_HOSTS=YOUR_DOMAIN"
Environment="EMAIL_HOST_PASSWORD=YOUR_KEY"
Environment="DEFAULT_FROM_EMAIL=info@YOUR_DOMAIN"
# Use the Python interpreter from the virtual environment to run the Django server
ExecStart=/root/kenv/bin/python /root/karen/manage.py runserver 127.0.0.1:8000

Restart=always

[Install]
WantedBy=multi-user.target