{% extends 'base.html' %}
{% load custom_filters %}
{% load socialaccount %}
{% block content %}
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">   
            <h1>Sign In Via Google</h1>
            <p>You are about to sign in using a third-party account from Google.</p>
            
            <!-- Custom Google Login Button -->
            <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-user btn-block mb-3">
                <i class="fab fa-google"></i> Sign in with Google
            </a>
        </div>
      </div>      
    </div>
  </div>
</section>    
{% endblock %}
