{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">  
            <h1>{% if stage %}Edit{% else %}Create{% endif %} Product Lifecycle Stage</h1>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">{% if stage %}Save Changes{% else %}Create Stage{% endif %}</button>
            </form>
        
            {% if stage %}
                <a href="{% url 'product_lifecycle_stages_list' %}">Back to List</a>
            {% else %}
                <a href="{% url 'product_lifecycle_stages_list' %}">Cancel</a>
            {% endif %}   
          </div>
      </div>
      
    </div>
  </div>
</section>    

{% endblock %}
