{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-5 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Page Heading -->
        <h1 class="display-4 mb-4 text-white">
          {% if stage %}Edit{% else %}Create{% endif %} Product Lifecycle Stage
        </h1>

        <!-- Form -->
        <form method="post" class="mb-4">
          {% csrf_token %}
          <div class="form-group">
            {{ form.as_p }}
          </div>
          <button type="submit" class="btn btn-primary">
            {% if stage %}Save Changes{% else %}Create Stage{% endif %}
          </button>
        </form>

        <!-- Back/Cancel Link -->
        <a href="{% url 'product_lifecycle_stages_list' %}" class="btn btn-outline-light">
          {% if stage %}Back to List{% else %}Cancel{% endif %}
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}