<!DOCTYPE html>
<html>
<head>
    <title>Token List</title>
</head>
<body>

</body>
</html>

{% extends '../base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">  
            <h1>Token List</h1>
            <ul>
                {% for token in tokens %}
                    <li>
                        {{ token.name }} - {{ token.address }} - 

                        <form method="post" action="{% url 'toggle_visibility' token.id %}" style="display:inline;">
                          {% csrf_token %}
                          <button type="submit" style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer;">
                              {% if token.visible %}
                                  Visible
                              {% else %}
                                  Hidden
                              {% endif %}
                          </button>
                      </form>                        
                    </li>
                {% endfor %}
            </ul>
            <HR>
            <a href="{% url 'add_token' %}">Add New Token</a>
        </div>
      </div>
      
    </div>
  </div>
</section>    
{% endblock %} 
