{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-center">  
          <div class="card-body custom-card-body">
          <h3 class="card-title text-center">About us</h3>
            <div class="list-group list-group-flush">
                <div class="list-group-item border-0 text-left">
                    <p>{{profile.about_us}}</p>
                </div>
            </div>
          </div>
         
        </div>
      </div>
      
    </div>
  </div>
</section>    

{% endblock %}
