{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">  
            <a href="{% url 'list_and_add_website_profiles' %}" class="nav-link">Profile Information</a>                       
            <HR>
            <a href="{% url 'token_list' %}" class="nav-link">Tokens</a>
            <HR>
            <a href="{% url 'lifecycle_stage_list' %}" class="nav-link">Customer Lifecycles</a>         
            <HR>
            <a href="{% url 'customer_list' %}" class="nav-link">Customers</a>                  
            <HR>
            <a href="{% url 'product_lifecycle_stages_list' %}" class="nav-link">Product Lifecycles</a>      
            <HR>
            <a href="{% url 'product_list' %}" class="nav-link">Products</a>       
            <HR>
            <a href="{% url 'cart_list' %}" class="nav-link">Carts</a>      
        </div>
      </div>      
    </div>
  </div>
</section>    

{% endblock %}
