{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">   
            <h1>Cart Details</h1> 
            <div style="text-align: right;">
            <table width="100%">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for product in cart_products %}
                  {% with total_price=product.quantity|multiply:product.price %}
                    {% with total_tax=total_price|multiply:product.tax_rate|add:0 %}
                      {% with total_with_product=total_price|add:total_tax %}
                        <tr>
                          <td><strong>{{ product.product.name }}</strong></td>
                          <td>{{ product.quantity }}</td>
                          <td>{{ product.price|currency }}</td>
                          <td>{{ total_price|floatformat:2|currency }}</td> 
                        </tr>
                      {% endwith %}
                    {% endwith %}
                  {% endwith %}
                {% endfor %}
              </tbody>
            </table>
            
            </div>
            <div style="text-align: right;">
                <h3>Tax: {{ total_tax|floatformat:2|currency }}</h3>
                <h3>Subtotal: {{ subtotal|floatformat:2|currency }}</h3>
                <h3>Total with Tax: {{ total_with_tax|floatformat:2|currency }}</h3>
                <h3>Total Paid: {{ total_payments|floatformat:2|currency }}</h3>
                <h3>Balance Due: {{ balance_due|floatformat:2|currency }}</h3>
            </div>
            

            <a href="{% url 'cart_edit' cart.id %}">Edit Cart</a>
            <a href="{% url 'product_list_shop' cart.id %}">Shop Products</a>
            <a href="{% url 'payment_form' cart.id %}">Payment Form</a>

            <hr>

            <a href="{% url 'cart_list' %}" class="nav-link">Carts</a>   

        </div>
      </div>      
    </div>
  </div>
</section>    
{% endblock %}
