{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">   
            <h1>Cart Details</h1>
            <h3>Customer Information:</h3>
            <p><strong>Name:</strong> {{ cart.customer.first_name }} {{ cart.customer.last_name }}</p>
            <p><strong>Email:</strong> {{ cart.customer.email }}</p>

            <p>Billing Address:</p>
            <p>{{ cart.billing_address_line1 }}</p>
            <p>{{ cart.billing_address_line2 }}</p>
            <p>{{ cart.billing_city }}, {{ cart.billing_state }} {{ cart.billing_zipcode }}</p>
            <p>{{ cart.billing_country }}</p>
        
            <p>Shipping Address:</p>
            <p>{{ cart.shipping_address_line1 }}</p>
            <p>{{ cart.shipping_address_line2 }}</p>
            <p>{{ cart.shipping_city }}, {{ cart.shipping_state }} {{ cart.shipping_zipcode }}</p>
            <p>{{ cart.shipping_country }}</p>

            <h2>Products in Cart</h2>
            <div style="text-align: right;">
            <table width="100%">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for product in cart_products %}
                  {% with total_price=product.quantity|multiply:product.price %}
                    {% with total_tax=total_price|multiply:product.tax_rate|add:0 %}
                      {% with total_with_product=total_price|add:total_tax %}
                        <tr>
                          <td><strong>{{ product.product.name }}</strong></td>
                          <td>{{ product.quantity }}</td>
                          <td>{{ product.price|currency }}</td>
                          <td>{{ total_price|floatformat:2|currency }}</td> 
                        </tr>
                      {% endwith %}
                    {% endwith %}
                  {% endwith %}
                {% endfor %}
              </tbody>
            </table>
            
            </div>
            <div style="text-align: right;">
                <h3>Tax: {{ total_tax|floatformat:2|currency }}</h3>
                <h3>Subtotal: {{ subtotal|floatformat:2|currency }}</h3>
                <h3>Total with Tax: {{ total_with_tax|floatformat:2|currency }}</h3>
            </div> 
            

            <a href="{% url 'cart_edit' cart.id %}">Edit Cart</a>
            <a href="{% url 'product_list_shop' cart.id %}">Shop Product</a>

            <hr>

            <a href="{% url 'cart_list' %}" class="nav-link">Carts</a>   

        </div>
      </div>      
    </div>
  </div>
</section>    
{% endblock %}
