{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<section class="py-5 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-4">List of Carts</h1>
        
        <!-- Bootstrap Table -->
        <div class="table-responsive">
          <table class="table table-dark table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">External ID</th>
                <th scope="col">Date Created</th>
                <th scope="col">Date Modified</th>
                <th scope="col">Checked Out</th>
                <th scope="col">Paid</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for cart in carts %}
                <tr>
                  <td>{{ cart.id }}</td>
                  <td>{{ cart.external_id }}</td>
                  <td>{{ cart.date_created }}</td>
                  <td>{{ cart.date_modified }}</td>
                  <td>{{ cart.checked_out }}</td>
                  <td>{{ cart.paid }}</td>
                  <td>
                    <a href="{% url 'cart_detail' cart.id %}" class="btn btn-sm btn-primary">View Details</a>
                    <!-- Add more actions if needed (edit, delete, etc.) -->
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- Create New Cart Button -->
        <div class="mt-4">
          <a href="{% url 'create_cart' %}" class="btn btn-success">Create a New Cart</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}