{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<div class="container my-5">
    <h1 class="mb-4">Order Info</h1>
    <div class="card mb-4">
        <div class="card-body"> 
            <div class="row mb-3">
                <div class="col-sm-3">
                    <p class="fw-bold">Date Created:</p>
                </div>
                <div class="col-sm-9">
                    <p>{{ cart.date_created }}</p>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12 p-3">
            <a href="{% url 'checkout' %}" class="btn btn-primary mt-3">Proceed to Checkout</a>
          </div>
        </div>
    </div>

    <h2 class="mb-4">Products</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Line Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.product.name }}</td>
                    <td>{{ product.product.price|currency }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.line_item_total|currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="text-end">
                <h4>Subtotal: {{ subtotal|floatformat:2|currency }}</h4>
                <h4>Tax: {{ total_tax|floatformat:2|currency }}</h4>
                <h4>Total with Tax: {{ total_with_tax|floatformat:2|currency }}</h4>
                <h4>Balance Due: {{ balance_due|floatformat:2|currency }}</h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}