{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Checkout</h1>
    <div class="card mb-4">
        <div class="card-body"> 
            <form method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                {% if form %}
                    <form method="post" action="{% url 'checkout' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Submit</button>
                    </form>
                {% else %}
                    <p>No form found in context.</p>
                {% endif %} 
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5>Order Summary</h5>

            <h4>Subtotal: {{ subtotal|floatformat:2|currency }}</h4>
            <h4>Tax: {{ total_tax|floatformat:2|currency }}</h4>
            <h4>Total with Tax: {{ total_with_tax|floatformat:2|currency }}</h4>
            <h4>Balance Due: {{ balance_due|floatformat:2|currency }}</h4>
                         
        </div>
    </div> 

</div>
{% endblock %}
