{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Checkout</h1>
    <div class="card mb-4">
        <div class="card-body"> 
            <form method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                {% if form %}
                    <form method="post" action="{% url 'checkout' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Submit</button>
                    </form>
                {% else %}
                    <p>No form found in context.</p>
                {% endif %} 
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5>Order Summary</h5>
            <p>Subtotal: ${{ subtotal }}</p>
            <p>Tax: ${{ total_tax }}</p>
            <p>Total: ${{ total_with_tax }}</p>
            <p>Payments Made: ${{ total_payments }}</p>
            <p>Balance Due: ${{ balance_due }}</p>
        </div>
    </div> 

</div>
{% endblock %}
