{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">  
            <h1>Customer List</h1>
            <a href="{% url 'customer_add' %}">Add New Customer</a>

            
            <ul>
                {% for customer in customers %}
                    <li>{{ customer.first_name }} {{ customer.last_name }} - 
                        <a href="{% url 'customer_edit' customer.id %}">Edit</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
      </div>
      
    </div>
  </div>
</section>    

{% endblock %}
