{% extends 'base.html' %}
{% block content %}
<section class="d-flex align-items-center justify-content-center" style="min-height: 50vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center text-light">
                <h4 class="mb-4">Login</h4>
                {% if error %}
                    <p class="text-danger mb-4">{{ error }}</p>
                {% endif %}
                <form class="user" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <input type="text" class="form-control form-control-user" id="username" name="username"
                               placeholder="Enter username ...">
                    </div>
                    <div class="form-group mb-4">
                        <input type="password" class="form-control form-control-user" id="password" name="password"
                               placeholder="Password">
                    </div> 
                    <button type="submit" class="btn btn-success btn-user btn-block mb-3">Login</button>
                    
                    <!-- Google Sign-In Button -->
                    <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-user btn-block mb-3">
                        <i class="fab fa-google"></i> Sign in with Google
                    </a>
                                        
                    <br>
                    <a href="{% url 'password_reset' %}" class="btn btn-link text-light">Forgot Password?</a>
                    <br>
                    <a href="{% url 'register' %}" class="btn btn-link text-light">Create an Account</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
