{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">     

    <h1>{{ action }} Product</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{ action }} Product</button>
    </form>
    <a href="{% url 'product_list' %}">Back to Product List</a>
        </div>

      </div>
      
    </div>
  </div>
</section>    

{% endblock %}