{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">     

            <h1>Product List</h1>
            <a href="{% url 'product_add' %}">Add New Product</a>
            <ul>
                {% for product in products %}
                <li>
                    <strong>{{ product.name }}</strong><br>
                    Price: ${{ product.price }}<br>
                    Stock: {{ product.quantity }}<br>
                    <img src="{{ product.product_image.url }}" alt="{{ product.name }}" width="100"><br>
                    <a href="{% url 'product_edit' product.pk %}">Edit</a>
                </li>
                {% empty %}
                <li>No products available.</li>
                {% endfor %}
            </ul>
        </div>

      </div>
      
    </div>
  </div>
</section>    

{% endblock %}