{% extends 'base.html' %}
{% block content %}
<section class="d-flex align-items-center justify-content-center" style="min-height: 50vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center text-light">
                <!-- Content for the right column goes here -->

                <h2 class="text-left">Register</h2>
                <form method="POST" class="text-left">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
