{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">
          <h1>Form Submissions</h1>
          {% if submissions %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Domain</th>
                  <th>Data</th>
                  <th>Processed</th>
                  <th>Source IP</th>
                  <th>User Agent</th>
                  <th>Referer</th>
                </tr>
              </thead>
              <tbody>
                {% for submission in submissions %}
                  <tr>
                      <td>{{ submission.pk }}</td>
                      <td>{{ submission.domain }}</td>
                      <td>
                          <pre style="white-space: pre-wrap; word-wrap: break-word;">{{ submission.data }}</pre>
                      </td>
                      <td>{{ submission.is_processed }}</td>
                      <td>{{ submission.source_ip }}</td>
                      <td>
                          <small style="display:block; max-width: 200px; overflow: hidden; text-overflow: ellipsis;" title="{{ submission.user_agent }}">
                              {{ submission.user_agent }}
                          </small>
                      </td>
                      <td>{{ submission.created_at }}</td>
                  </tr>
                  <tr>
                      <td colspan="7" style="word-wrap: break-word; white-space: normal;">
                          <strong>Referer:</strong> 
                          <a href="{{ submission.referer }}" target="_blank">{{ submission.referer|default:"-" }}</a> | 
                          <strong>Origin:</strong> 
                          <a href="{{ submission.origin }}" target="_blank">{{ submission.origin|default:"-" }}</a>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>No submissions found.</p>
          {% endif %}
        </div>
      </div>      
    </div>
  </div>
</section>    
{% endblock %}
