{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">  
          <div class="card-body custom-card-body"> 
            <div class="list-group list-group-flush">
              <div class="container">
                <h1>Terms of Service</h1>
                {{profile.terms_of_service}}
              </div>
            </div>
          </div>
         
        </div>
      </div>
      
    </div>
  </div>
</section>    

{% endblock %}
