{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<section class="py-4">
  <div class="container">
    <div class="mt-5 text-light">         
      <div class="row">
        <div class="col-12">   
            <h2 class="mb-4">TouchPoint Types</h2>
            <a href="{% url 'touchpoint_type_add' %}" class="btn btn-primary mb-3">Add New TouchPoint Type</a>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Lifecycle Stage</th>
                        <th>Visible</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for touchpoint_type in touchpoint_types %}
                    <tr>
                        <td>{{ touchpoint_type.name }}</td>
                        <td>{{ touchpoint_type.lifecycle_stage }}</td>
                        <td>{{ touchpoint_type.is_visible|yesno:"Yes,No" }}</td>
                        <td>
                            <a href="{% url 'touchpoint_type_edit' touchpoint_type.pk %}" class="btn btn-warning btn-sm">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>      
    </div>
  </div>
</section>    
{% endblock %}
