{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">  
            <h1>Add Website Profile</h1>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                  <div class="form-group">
                      <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
                      {{ form.name|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.name.help_text }}</small>
                  </div>

                  <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                    {{ form.email|add_class:"form-control" }}
                    <small class="form-text text-muted">{{ form.email.help_text }}</small>
                </div>
                
                <div class="form-group">
                    <label for="{{ form.phone.id_for_label }}" class="form-label">Phone</label>
                    {{ form.phone|add_class:"form-control" }}
                    <small class="form-text text-muted">{{ form.phone.help_text }}</small>
                </div>
                
                <div class="form-group">
                    <label for="{{ form.address1.id_for_label }}" class="form-label">Address Line 1</label>
                    {{ form.address1|add_class:"form-control" }}
                    <small class="form-text text-muted">{{ form.address1.help_text }}</small>
                </div>
                
                <div class="form-group">
                    <label for="{{ form.address2.id_for_label }}" class="form-label">Address Line 2</label>
                    {{ form.address2|add_class:"form-control" }}
                    <small class="form-text text-muted">{{ form.address2.help_text }}</small>
                </div>
                
                <div class="form-group">
                    <label for="{{ form.city.id_for_label }}" class="form-label">City</label>
                    {{ form.city|add_class:"form-control" }}
                    <small class="form-text text-muted">{{ form.city.help_text }}</small>
                </div>
                
                <div class="form-group">
                    <label for="{{ form.state.id_for_label }}" class="form-label">State/Province</label>
                    {{ form.state|add_class:"form-control" }}
                    <small class="form-text text-muted">{{ form.state.help_text }}</small>
                </div>
                
                <div class="form-group">
                    <label for="{{ form.zip_code.id_for_label }}" class="form-label">ZIP/Postal Code</label>
                    {{ form.zip_code|add_class:"form-control" }}
                    <small class="form-text text-muted">{{ form.zip_code.help_text }}</small>
                </div>
                
                <div class="form-group">
                    <label for="{{ form.country.id_for_label }}" class="form-label">Country</label>
                    {{ form.country|add_class:"form-control" }}
                    <small class="form-text text-muted">{{ form.country.help_text }}</small>
                </div>
                
                  
                <div class="form-group">
                    <label for="{{ form.about_us.id_for_label }}" class="form-label">About Us</label>
                    <!-- Textarea for CKEditor -->
                    <textarea id="{{ form.about_us.id_for_label }}" name="{{ form.about_us.name }}" class="form-control">{{ form.about_us.value }}</textarea>
                    <small class="form-text text-muted">{{ form.about_us.help_text }}</small>
                  </div>
                  
                  <!-- Include CKEditor -->
                  <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/classic/ckeditor.js"></script> 
                  <script>
                    ClassicEditor
                      .create(document.querySelector('#{{ form.about_us.id_for_label }}'), {
                        toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'undo', 'redo'],
                        height: 300,
                        removePlugins: ['Markdown']
                      })
                      .catch(error => {
                        console.error(error);
                      });
                  </script>
                  <div class="form-group">
                      <label for="{{ form.wallet.id_for_label }}" class="form-label">Solana Wallet</label>
                      {{ form.wallet|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.wallet.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.wallet.id_for_label }}" class="form-label">X.com Handle</label>
                      {{ form.x_handle|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.x_handle.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.tax_rate.id_for_label }}" class="form-label">Tax Rate</label>
                      {{ form.tax_rate|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.tax_rate.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.about_us.id_for_label }}" class="form-label">Terms of Service</label>
                      {{ form.terms_of_service|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.terms_of_service.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.about_us.id_for_label }}" class="form-label">Privacy Policy</label>
                      {{ form.privacy_policy|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.privacy_policy.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.about_us.id_for_label }}" class="form-label">Stripe Publishable Key</label>
                      {{ form.stripe_publishable_key|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.stripe_publishable_key.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.about_us.id_for_label }}" class="form-label">Stripe Secret Key</label>
                      {{ form.stripe_secret_key|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.stripe_secret_key.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.about_us.id_for_label }}" class="form-label">Bird Eye API Key</label>
                      {{ form.bird_eye_api_key|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.bird_eye_api_key.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.about_us.id_for_label }}" class="form-label">Deepseek API Key</label>
                      {{ form.deepseek_api_key|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.deepseek_api_key.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.about_us.id_for_label }}" class="form-label">ChatGPT API Key</label>
                      {{ form.chatgpt_api_key|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.chatgpt_api_key.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.about_us.id_for_label }}" class="form-label">ChatGPT Latest Model ID (auto generated)</label>
                      {{ form.chatgpt_model_id|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.chatgpt_model_id.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.about_us.id_for_label }}" class="form-label">ChatGPT Active Model ID (auto generated)</label>
                      {{ form.chatgpt_model_id_current|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.chatgpt_model_id_current.help_text }}</small>
                  </div>
                  
                </div>
                <button type="submit" class="btn btn-primary">Add Profile</button>
            </form>
            
            <hr>
            <h2>Existing Profiles</h2>
            <ul>
                {% for profile in profiles %}
                    <li><strong>{{ profile.name }}</strong>: {{ profile.about_us }}       
                    <BR>               
                    X.com/{{ profile.x_handle }}
                    <BR>                 
                    Tax Rate: {{ profile.tax_rate }}
                    <BR>    
                    Solana Wallet Address: {{ profile.wallet }}
                    <hr>
                    </li>
                {% endfor %}
            </ul>
             
        </div>
      </div>
      
    </div>
  </div>
</section>    

{% endblock %}
