{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">         
      <div class="row">
        <div class="col-md-12 text-left">  
            <h1>Add Website Profile</h1>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                  <div class="form-group">
                      <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
                      {{ form.name|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.name.help_text }}</small>
                  </div>
                  
                  <div class="form-group">
                      <label for="{{ form.about_us.id_for_label }}" class="form-label">About Us</label>
                      {{ form.about_us|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.about_us.help_text }}</small>
                  </div>
                  
                  <div class="form-group">
                      <label for="{{ form.wallet.id_for_label }}" class="form-label">Solana Wallet</label>
                      {{ form.wallet|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.wallet.help_text }}</small>
                  </div>
                  <div class="form-group">
                      <label for="{{ form.wallet.id_for_label }}" class="form-label">X.com Handle</label>
                      {{ form.x_handle|add_class:"form-control" }}
                      <small class="form-text text-muted">{{ form.x_handle.help_text }}</small>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Add Profile</button>
            </form>
            
            <hr>
            <h2>Existing Profiles</h2>
            <ul>
                {% for profile in profiles %}
                    <li><strong>{{ profile.name }}</strong>: {{ profile.about_us }}       
                    <BR>               
                    X.com/{{ profile.x_handle }}
                    <hr>
                    Solana Wallet Address: {{ profile.wallet }}
                    </li>
                {% endfor %}
            </ul>
             
        </div>
      </div>
      
    </div>
  </div>
</section>    

{% endblock %}
